html,body{
	margin: 20;
	padding: 20;
	color: black;
	font-size: 40px;
	text-align: center;
}
h1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin:0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
}

input{
	box-sizing: border-box;
	border: 2px solid black;
}

.span{
	text-align: center;
}

#nameInput{
	font-size: 12px;
}
